@import './variables.scss';

@mixin font-size-reponsive($desktop-fs, $xs-fs, $mobi-fs){
  font-size: ($desktop-fs/1366*100)*$vw;
  @media(max-width: 575px) {
    font-size:($xs-fs/575*100)*$vw;
  }
  @media(max-width: 320px) {
    font-size:($mobi-fs/320*100)*$vw;
  }
}

body{
  font-family: "Montserrat",sans-serif;
  @include font-size-reponsive(10, 20, 15);
  font-weight: normal;
  line-height: 1.5;
  color: $c-383;
  background-color: $c-f9f;
  @media only screen and (max-width: 575px) {
    background-color: red;
  }
}
.navbar-maxdino {
  background-color: $c-383;
  border: none;
  border-radius: 0;
  color: $c-fff;

  .navbar-toggler-icon {
    background-image: url("../images/menu.svg");
    filter: invert(100%);
  }

.navbar-nav {
display: flex;
justify-content: center;

min-width: 165px;

.nav-item {
  display: flex;
  align-items: center;

  &+.nav-item {
    @media screen and (min-width: 576px) {
      margin-left: 20px;
    }
  }

  &.dropdown {
    position: relative;

    @include font-size-reponsive(11.5, 21.5, 16.5);

    .dropdown-menu {
      @include font-size-reponsive(11.5, 21.5, 16.5);
    }

    .dropdown-question-mark {
      position: absolute;
      left: 10px;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      .dropdown-question-mark-icon {
        width: 24px;
        height: 24px;
      }
    }

    .dropdown-selecter {
      width: 191px;
      height: 39px;

      border-radius: 6px;
      border: none;

      color: $c-36b;
      font-weight: bold;

      background-color: $c-fff;

      outline: none;

      padding-left: 40px;
    }
  }

      .icon {
        font-size: 24px;
      }
    }

    .form-inline {
      position: relative;

      width: 100%;

      @media screen and (min-width: 576px) {
        margin-left: 30px;
      }

      .form-inline-search {
        position: absolute;
        left: 10px;
      }

      .form-control {
        border-radius: 19px;
        border: none;

        width: 100%;
        max-width: 570px;

        padding-left: 44px;

        &::placeholder {
          @include font-size-reponsive(11.5, 21.5, 16.5);
          color: $c-a9a;
        }
      }
    }
  } 

  .navbar-nav-left {
    width: 100%;
  }
}

.section{
  border-radius: 5px;
  background-color:  $c-fff;
  padding: 15px 20px;
  .section-title{
    @include font-size-reponsive(8.5, 20, 15);
    padding-bottom: 5px;
    border-bottom: 2px solid $c-f9f;
    text-transform: uppercase;
    a{
      float: right;
      @include clear-both;
      color: $c-36b;
      text-transform: none;
    }
  }
  &.section-news{
    background: none;
    border-radius: 0;
    padding: 10px;

    margin-top: 20px;

    .list-item-news {
      position: relative;

      .owl-carousel {
        .item-news{
          position: relative;
          .item-news-content{
            top: 0;
            left: 0;
            width: 100%;
            position: absolute;
            z-index: 1;
            color: $c-fff;
            padding: 10px;
            @include font-size-reponsive(8.5, 20, 15);

            .item-news-first-child-content {
              min-height: 90px;
            }

            .item-news-title{
              @include font-size-reponsive(10, 20, 15);
              font-weight: bold;
            }

            .item-news-detail{
              margin: 5px 0 10px 0; 
            }

            .item-news-name{
              @include font-size-reponsive(7, 17, 12.5);
              font-weight: bold;
            }
          }
        }

        .owl-nav {
          @media screen and (min-width: 576px) {
            overflow: hidden;
            height: 0px;

            .owl-prev {
              span {
                position: absolute;
                left: -20px;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
  
                font-size: 24px;
                font-weight: bold;
              }
            }
  
            .owl-next {
              span {
                position: absolute;
                right: -20px;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
  
                font-size: 24px;
                font-weight: bold;
              }
            }
          }
        }
      }
    } 

    
  }
  &.section-video{
    margin-top: 20px;

    .section-title {
      border-bottom: 2px solid $c-e8e;
    }

    .item-video{
      margin-top: 20px;
      .item-video-img{
        position: relative;
        margin-bottom: 10px;
        a{
          position: absolute;
          @include font-size-reponsive(32, 65, 32);
          color: $c-fff;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
  &.section-connection{
    margin-top: 20px;

    .section-title {
      border-bottom: 2px solid $c-e8e;
    }

    .item-connection{
      padding: 10px 0;
      position: relative;
      .item-connection-img{
        position: absolute;
        top: 10px;
        left: 0;
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }
      .item-connection-content{
        padding-left: 40px;
        .user-name{
          color: $c-36b;
        }
        span{ color: $c-a9a; }
        .text{
          color: $c-383;
        }
      }
    }
  }
  &.section-post{
    margin-top: 20px;

    padding: 20px 20px 10px 20px;
    box-shadow: 0 15px 27px 0 rgba(56, 58, 74, 0.1);
    + div{ margin-top: 20px; }
    &.feed{
      box-shadow: none;
    }

    .expand-icon {
      color: $c-a9a;
    }

    .item-feed + .item-feed {
      margin-top: 40px;
    }

    .head-post{
      position: relative;
      .avatar-user{
        position: absolute;
        top: 0;
        left: 0;
        width: 42px;
        height: 42px;
        border-radius: 50%;
      }
      .head-post-content{
        padding-left: 52px;
        .head-post-name-user{
          font-weight: bold;
          color: $c-36b;
        }
        .head-post-story-subtitle{
          margin-top: -5px;
          
          display: flex;

          color: $c-a9a;
          @include font-size-reponsive(8.5, 20, 15);
        }
        .date{
          display: flex;
          align-items: center;

          .icon {
            @include font-size-reponsive(10.5, 20.5, 15.5);
            padding: 6px;
          }
          
          .date-calendar-date {
            margin-left: 4px;
          }
        }
        .public{
          display: flex;
          align-items: center;

          margin-left: 4px;
          padding: 6px;

          .icon {
            color: $c-057;
            @include font-size-reponsive(10.5, 20.5, 15.5);
            padding: 4px;
          }

          .dropdown {
            .dropdown-selecter {
              border: none;
              outline: none;

              background-color: transparent;

              color: $c-a9a;
              @include font-size-reponsive(8.5, 20, 15);
            }
          }
        }
      }
    }

    .content-post {
      margin-top: 13px;

      .post-feed-link {
        margin-top: 10px;
        padding-bottom: 10px;

        color: $c-36b;

        border-bottom: 2px solid $c-e8e;
      }

      .post-feed {
        margin-top: 7px;

        .post-feed-content {
          margin-top: 10px;
          
          @include font-size-reponsive(8.5, 20, 15);

          .post-feed-title {
            font-weight: bold;
            @include font-size-reponsive(11.5, 21.5, 16.5);
          }

          .post-feed-detail {
            margin-top: 5px;
          }

          .post-feed-link {
            margin-top: 10px;
            padding-bottom: 10px;

            color: $c-36b;

            border-bottom: 2px solid $c-e8e;
          }
        }
      }

      .form-group {
        .form-control {
          border: none;
          border-radius: 0px;
          border-bottom: 2px solid $c-e8e;

          resize: none;

          padding: 0px;

          &::placeholder {
            color: $c-a9a;
            @include font-size-reponsive(11.5, 21.5, 16.5);
          }
        }
      }
    }

    .footer-post {
      color: $c-969;
      
      &.post-feed-footer {
        display: flex;

        @include font-size-reponsive(8.5, 20, 15);

        margin-top: 20px;

        .ratting {
          display: flex;
          align-items: center;

          padding-bottom: 20px;

          &+.ratting {
            margin-left: 30px;
          }

          .ratting-name {
            margin-left: 3px;
            
            color: $c-383;
          }

          .icon {
            @include font-size-reponsive(17, 20, 15);
          }

          b {
            color: $c-383;

            margin-left: 5px;
          }
        }
        
      }

      .footer-post-utility {
        a {
          @include font-size-reponsive(17, 20, 15);

          &+a {
            margin-left: 10px;
          }
        }
      }

      .footer-post-post-on {
        height: 100%;
        color: $c-383;

        display: flex;
        align-items: center;

        .icon {
          @include font-size-reponsive(17, 20, 15);
          color: $c-e1e;

          padding: 4px;

          &.blue-icon {
            color: $c-3b5;
          }
        }
      }
    }
  }
}