/*!
 * IE10 viewport hack for Surface/desktop Windows 8 bug
 * Copyright 2014-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
$c-383: #383a4a;
$c-fff: #fff;
$c-f9f: #f9f9f9;
$c-36b: #36b662;
$c-a9a: #a9aaad;
$c-e8e: #e8eaef;
$c-057: #057ff1;
$c-969: #9698a3;
$c-e1e: #e1e1e3;
$c-3b5: #3b5998;
$vw: 1vw;
a{
  color: inherit;
  &:hover{
    color: inherit;
    text-decoration: none;
  }
}
b, strong{ font-weight: bold; }
img{
  max-width: 100%;
}
@mixin clear-both{
  &:before, &:after{
    content: '';
    display: table;
    clear: both;
  }
}