@import '../../assets/scss/variables.scss';
@import '../../assets/scss/fonts.scss';


@mixin font-size-reponsive($desktop-fs, $xs-fs, $mobi-fs){
  font-size: ($desktop-fs/1366*100)*$vw;
  @media(max-width: 575px) {
    font-size:($xs-fs/575*100)*$vw;
  }
  @media(max-width: 320px) {
    font-size:($mobi-fs/320*100)*$vw;
  }
}
.body{
  font-family: "Montserrat",sans-serif;
  @include font-size-reponsive(10, 20, 15);
  font-weight: normal;
  line-height: 1.5;
  color: $c-383;
  background-color: $c-f9f;
  @media only screen and (max-width: 575px) {
    background-color: red;
  }
}