@import '../../assets/scss/variables.scss';
@import '../../assets/scss/fonts.scss';

@mixin font-size-reponsive($desktop-fs, $xs-fs, $mobi-fs){
  font-size: ($desktop-fs/1366*100)*$vw;
  @media(max-width: 575px) {
    font-size:($xs-fs/575*100)*$vw;
  }
  @media(max-width: 320px) {
    font-size:($mobi-fs/320*100)*$vw;
  }
}
.navbar-maxdino {
  background-color: $c-383;
  border: none;
  border-radius: 0;
  color: $c-fff;

  .navbar-toggler-icon {
    background-image: url("../../assets/images/menu.svg");
    filter: invert(100%);
  }

.navbar-nav {
display: flex;
justify-content: center;

min-width: 165px;

.nav-item {
  display: flex;
  align-items: center;

  &+.nav-item {
    @media screen and (min-width: 576px) {
      margin-left: 20px;
    }
  }

  &.dropdown {
    position: relative;

    @include font-size-reponsive(11.5, 21.5, 16.5);

    .dropdown-menu {
      @include font-size-reponsive(11.5, 21.5, 16.5);
    }

    .dropdown-question-mark {
      position: absolute;
      left: 10px;
      top: 50%;
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);

      .dropdown-question-mark-icon {
        width: 24px;
        height: 24px;
      }
    }

    .dropdown-selecter {
      width: 191px;
      height: 39px;

      border-radius: 6px;
      border: none;

      color: $c-36b;
      font-weight: bold;

      background-color: $c-fff;

      outline: none;

      padding-left: 40px;
    }
  }

      .icon {
        font-size: 24px;
      }
    }

    .form-inline {
      position: relative;

      width: 100%;

      @media screen and (min-width: 576px) {
        margin-left: 30px;
      }

      .form-inline-search {
        position: absolute;
        left: 10px;
      }

      .form-control {
        border-radius: 19px;
        border: none;

        width: 100%;
        max-width: 570px;

        padding-left: 44px;

        &::placeholder {
          @include font-size-reponsive(11.5, 21.5, 16.5);
          color: $c-a9a;
        }
      }
    }
  } 
  .navbar-nav-left {
    width: 100%;
  }
}
