@import '../../assets/scss/variables.scss';
@import '../../assets/scss/fonts.scss';

@mixin font-size-reponsive($desktop-fs, $xs-fs, $mobi-fs){
  font-size: ($desktop-fs/1366*100)*$vw;
  @media(max-width: 575px) {
    font-size:($xs-fs/575*100)*$vw;
  }
  @media(max-width: 320px) {
    font-size:($mobi-fs/320*100)*$vw;
  }
}
.section{
  border-radius: 5px;
  background-color:  $c-fff;
  padding: 15px 20px;
  .section-title{
    @include font-size-reponsive(8.5, 20, 15);
    padding-bottom: 5px;
    border-bottom: 2px solid $c-f9f;
    text-transform: uppercase;
    a{
      float: right;
      @include clear-both;
      color: $c-36b;
      text-transform: none;
    }
  }
  &.section-news{
    background: none;
    border-radius: 0;
    padding: 10px;

    margin-top: 20px;

    .list-item-news {
      position: relative;

      .owl-carousel {
        .item-news{
          position: relative;
          .item-news-content{
            top: 0;
            left: 0;
            width: 100%;
            position: absolute;
            z-index: 1;
            color: $c-fff;
            padding: 10px;
            @include font-size-reponsive(8.5, 20, 15);

            .item-news-first-child-content {
              min-height: 90px;
            }

            .item-news-title{
              @include font-size-reponsive(10, 20, 15);
              font-weight: bold;
            }

            .item-news-detail{
              margin: 5px 0 10px 0; 
            }

            .item-news-name{
              @include font-size-reponsive(7, 17, 12.5);
              font-weight: bold;
            }
          }
        }

        .owl-nav {
          @media screen and (min-width: 576px) {
            overflow: hidden;
            height: 0px;

            .owl-prev {
              span {
                position: absolute;
                left: -20px;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
  
                font-size: 24px;
                font-weight: bold;
              }
            }
  
            .owl-next {
              span {
                position: absolute;
                right: -20px;
                top: 50%;
                -ms-transform: translateY(-50%);
                transform: translateY(-50%);
  
                font-size: 24px;
                font-weight: bold;
              }
            }
          }
        }
      }
    } 

    
  }
}